.InfoA #contenido{
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    border: solid 1px black;
    box-shadow: 0 0 5px black;
}

.InfoA #contenido #nombre{
    background-color: rgb(25, 42, 114);
    border: solid 1px black;
    padding: 0.5em;
}

.containerimg{
    text-align: center;
    padding: 1em;
    margin: 1%;
}

.containerimg #publicaciones{
    background-color: #20254F;
    border-radius: 0px 40px 0px 40px;
    padding: 0.1em;
    color: white;
}

